:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary-color: #1a1a1a;
  --secondary-color: #646cff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--secondary-color);
}

#products {
  display: flex;
  flex-direction: column;
}

#categories {
  display: flex;
  gap: 15px;
}

img {
  border-radius: 8px;
}

.active {
  color: var(--secondary-color);
}

#logo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #646cff;
}

#container {
  padding: 15px;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  width: 250px;
  padding: 10px 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
}
.add-to-cart-btn {
  height: 50px;
  background-color: var(--secondary-color);
}

.add-to-cart-btn:hover {
  border-color: var(--primary-color);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.img-title,
.item-price {
  font-weight: bold;
}
